body {
    font-size: 1.2em;
    color: white;
    font-family: 'Telex', sans-serif;
    background-image: url(../images/heroImage.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
    padding: 1px 8px;
    transition: .3s;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(100, 250, 150);
}


/* spacing between restaurant list divs */

article {
    margin: 12px;
}


/* heading group for page title and subheading */

hgroup {
    color: white;
    margin: 0 auto;
    padding: .5em 0 2em 0;
    text-align: center;
    background-color: black;
    opacity: .85;
}

h1 {
    font-size: 8em;
}

h3 a {
    color: rgba(100, 250, 150, .9);
    font-size: 2em;
}

h4 {
    font-size: 3em;
}

h5 {
    font-size: 2.3em;
}

h6 {
    font-size: 2em;
}

ul {
    padding: 0;
}

li {
    font-size: 2em;
    list-style: none;
    text-align: center;
}

p {
    font-size: 1.5em;
}

button {
    color: black;
    background-color: rgb(100, 250, 150);
    border: 1px solid black;
    transition: .3s;
}

button:hover {
    background-color: orange;
}

form {
    padding: 15px;
}

.home-link:hover {
    color: rgba(100, 250, 150, 1);
    background-color: transparent;
}

.glyphicon-grain {
    font-size: .5em;
}

.content-card {
    padding: 10px;
    opacity: .85;
    background-color: black;
    border: 3px black solid;
    text-align: center;
    border-radius: 20px;
}

.dietary li {
    font-size: 1.5em;
    display: inline-block;
    background-color: rgba(250, 250, 250, .8);
    color: black;
    border-radius: 3px;
    padding: .1em .3em;
    margin: .3em;
}

.form-control {
    border: 2px black solid;
}

.form-search {
    font-size: 1.5em;
    text-align: center;
    padding: 0;
}

.btn {
    border: 2px black solid;
    background-color: grey;
    color: black;
    font-weight: bold;
}

.restaurant-search {
  font-size: 1.8em;
}

.search-bucket {
    max-width: 800px;
    margin: 10px auto;
}

.checkbox-bucket {
    max-width: 120px;
    margin: 1.5em auto;
    text-align: left;
}

.search-items {
    max-width: 800px;
    margin: 10px 1%;
}


/*//////////////////////////*/


/* The sidebar navigation menu*/


/*//////////////////////////*/

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: #111;
    opacity: 1;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 90px;
    /* Place content 60px from the top */
    transition: 0.5s;
}

.sidenav-open {
    right: 0;
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.2em;
    color: rgb(220, 220, 220);
    display: block;
    transition: 0.4s
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover, .offcanvas a:focus {
    color: black;
}


/* hambburger image */

.burger-icon {
    height: 45px;
    position: fixed;
    display: visible;
    top: 0;
    right: 10px;
    margin: 14px;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn, .sidenav .closebtn:hover {
    position: absolute;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-width: 500px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .input-search {
        font-size: 1.5em;
    }
    body {
        font-size: 1em;
    }
    .burger-icon {
        height: 30px;
    }
    .checkbox-bucket {
        max-width: 100px;
        margin: 1.5em auto;
        text-align: left;
    }
}

.modal-title {
    color: black;
}

.disclaimer {
    font-size: 1.5em;
    font-family: 'Telex', sans-serif;
    color: red;
}



/* GOOGLE MAPS*/

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
   margin: 50px;
   border: 2px black solid;
 }

#octocat {
  height: 110px;
  display: block;
  margin: auto;
  opacity: 2;

}
